h1,
p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.m-t-10 {
  margin-top: 10px;
}

.filter-list {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}
