.checkbox-container {
  display: inline-block;
  padding: 0px 4px;
  border-radius: 3px;

  min-height: 22px;
  min-width: 22px;

  margin: 0px 5px;
}

.check {
  background-color: #2296f3;
  color: white;

  border: 1px solid #2296f3;
}

.uncheck {
  border: 1px solid black;
}

.partial-check {
  background-color: #5f6364;
  color: white;
}
